.discover-hero {
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background-color: #F47D31;
}

.meditations-container {
}

.meditations-list {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.meditation-item {
  width: 150px;
  height: 170px;
  background-color: #FAF6F4;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.meditation-name {
  font-size: 14px;
  color: #323233;
  font-weight: 700;
  letter-spacing: .5px;
  text-align: center;
}

.meditation-item > button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meditation-circle {
  margin-top: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #F47D31;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-headphones {
  color: #F5A571;
  font-size: 50px;
}

// search

.search-form-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 300px;
  margin: 30px;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 50px;
}

.search-input:focus {
  border: 1px solid #F47D31;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-buttons > button {
  text-transform: uppercase;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 10px 10px 30px 10px;
  border-radius: 20px;
}

.search-dropdown {
  position: absolute;
  background-color: white;
  padding: 30px;
  z-index: 2;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.search-dropdown li {
  color: #5A6175;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.search-dropdown li:hover {
  color: #2d3448;
}

.search-dropdown li:last-child {
  border: none;
}

.sleep {
  background-color:#0C6FF9;
}

.sleep:hover {
  background-color: #0959c9;
  -webkit-transition: all .2s ease-in-out;
}

.relax {
  background-color:#F47D31;
}

.relax:hover {
  background-color:#eb7124;
  -webkit-transition: all .2s ease-in-out;
}

.gratitude {
  background-color:#7BCDC8;
}

.gratitude:hover {
  background-color:#68bfb9;
  -webkit-transition: all .2s ease-in-out;
}


.work {
  background-color:#FED58C;
}

.work:hover {
  background-color:#F5C471;
  -webkit-transition: all .2s ease-in-out;
}


.anxiety {
  background-color:#0C6FF9;
}




// #0C6FF9 - blue
// #FAF6F4 - beige
// #323233 - darkgrey
// #F47D31 - orange