// logo
.header-logo-link {

}

.logo {
  width: 50%;
  image-resolution: 300dpi;
  display: inline;
  justify-content: center;
}

// nav bar items

.header-links {
  display: flex;
}

.home .profile .search {
  display: inline;
}

.home {

}

.profile {

}

.search {
  
}