.nav-bar {
  overflow: hidden;
}

// logo
.logo {
  float: left;
  width: 130px;
  image-resolution: 300dpi;
  margin: 30px;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 1.15;
}

// nav bar items

.header-links {
  float: right;
  display: flex;
  font-family: Apercu, sans-serif;
  color: #5A6175;
  font-size: 11px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  margin: 20px;
  margin-top: 40px;
}

.signup-nav-header {
  margin: 0px 10px 0px 0px; 
}

.signup-nav-header:hover {
  color: lightgrey; 
}

.login-nav-header:hover {
  color: lightgrey; 
}

.home, .profile, .discover {
  margin: 0px 10px 0px 0px;
}

.profile {
  margin: 0;
}

.home:hover {
  color: lightgrey;
}

.profile:hover {
  color: lightgrey;
}

.discover:hover {
  color: lightgrey;
}

// #0C6FF9 - blue
// #FAF6F4 - beige
// #323233 - darkgrey
// #5A6175 - lighter grey