.lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-meditation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAF6F4;
  padding: 20px;
  width: 30%;
  border-radius: 100px;
  margin: 30px 10px 10px 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #323233;
}

.add-meditation-button:hover {
  background-color: rgb(255, 251, 251);
  transition: all .2s ease-in-out;
}

// Modal:

.list-modal {
  z-index: 10;
  height: 100%;
  width: 50%;
  font-weight: 700;
  color: #323233;
  background-color: #FAF6F4;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.list-modal h1 {
  color: #323233;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}

.list-modal > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-modal input {
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  text-align: start;
  letter-spacing: 0.7px;
  cursor: text;
  width: 90%;
  padding: 16px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  font-family: Apercu, sans-serif;
}

.list-modal input:focus {
  border: 1px solid orange;
}

.list-modal button {
  margin-top: 30px;
  background-color: white;
  width: 30%;
  font-family: Apercu, sans-serif;
  color: white;
  background-color: #0C6FF9;
  border: none;
  border-radius: 24px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 2.5px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.list-modal button:hover {
  background-color: #0e64dd;
  transition: all .2s ease-in-out;
}

.list-modal label {
  margin-top: 30px;
}

// Content:

.list-list {
  width: 100%;
}

.list-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-item {
  width: 60%;
  margin-bottom: 30px;
  background: rgb(31,26,119);
  background: linear-gradient(317deg, rgba(31,26,119,1) 0%, rgba(14,100,221,1) 75%, rgba(14,100,221,1) 100%);
  padding: 30px 10px 30px 10px;
  border-radius: 5px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.list-item:hover {
  background: rgb(31,26,119);
  background: linear-gradient(119deg, rgba(31,26,119,1) 0%, rgba(14,100,221,1) 75%, rgba(14,100,221,1) 100%);
  transition: all 3s ease-in-out;
}

.list-name {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 2px;
}

.list-details {
  padding-left: 40px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.0px;
}

// icons

.list-icons {
  display: flex;
  flex-direction: row;
  text-align: right;
  color: white;
  font-size: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

#list-play {
  color: white;
  font-size: 20px;
  padding-right: 10px;
}

.list-icon-play,
.list-icon-edit,
.list-icon-times {
  padding: 7px;
  opacity: .5;

}

.list-icon-play:hover,
.list-icon-edit:hover,
.list-icon-times:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
  
}


