// login background

.login-background {
  background-color: #FAF6F4;
  padding: 60px;
}

/* login form box */

.login-form-box {
  display: flex;
  box-sizing: border-box;
  background-color: white; 
  width: 100%;
  max-width: 38rem;
  font-family: Apercu, sans-serif;
  border-radius: 8px;
  padding: 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.login-header {
  font-family: Apercu, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #323233;
  margin-bottom: 16px;
}

/* signup link */

.signup-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #5A6175;
  font-size: 14px;
}

.signup-link-a {
  display: inline;
  color: #F47D31;
  cursor: pointer;
  text-decoration: none;
  padding: 0px 0px 0px 5px;
}

.signup-link-a:hover {
  text-decoration: underline;
}

/* input-fields */

.login-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-fields > input {
  width: 90%;
  cursor: text;
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  text-align: start;
  letter-spacing: 0.7px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 16px;
  margin: 20px 0 0 0;
}

.login-fields > input:focus {
  border: 1px solid orange;
}

// errors

.error {
  text-align: center;
  margin-top: 15px;
  color: #F47D31;
  font-size: 14px
}

/* buttons */

.login-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.login-form-button {
  text-align: center;
  width: 90%;
  font-family: Apercu, sans-serif;
  color: white;
  background-color: #0C6FF9;
  border: none;
  border-radius: 24px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 2.5px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;
}

.demo-login-form-button {
  text-align: center;
  width: 90%;
  font-family: Apercu, sans-serif;
  color: #323233;
  background-color: #FAF6F4;
  border: none;
  border-radius: 24px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;
}

.login-form-button:hover {
  background-color: #0e64dd;
  -webkit-transition: all .2s ease-in-out;
}

.demo-login-form-button:hover {
  background-color: #fffdfd;
  -webkit-transition: all .2s ease-in-out;
}

// #0C6FF9 - blue
// #FAF6F4 - beige
// #323233 - darkgrey
// #F47D31 - orange