// modal stuff

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(245, 139, 68);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x i{
  position: absolute;
  z-index: 2;
  color: rgb(252, 245, 235);
  padding: 15px;
  border-radius: 150px;
  font-size: 24px;
  line-height: 24px;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

// modal buttons

.meditation-stack {
  display: flex;
  align-items: center;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  transition: all .5s ease-in-out;
}

.meditation-stack:hover {
  // transform: scale(1.1);

}

.meditation-stack-1x,
.meditation-stack-2x,
.meditation-stack-3x {
  position: absolute;
  width: 100%;
}

.meditation-stack-1x {
  line-height: inherit;
  color: rgb(90, 97, 117);
}

.meditation-stack-1x .fa-play {
  padding-left: 10px;
}

.meditation-stack-2x {
  
  font-size: 3em;
  color: rgb(252, 245, 235);
}

.meditation-stack-3x {
  font-size: 4em;
  color: rgba(252, 245, 235, 0.262);
}


//text 

.meditation-item {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}


.meditation-name-title {
  color: rgb(252, 245, 235);
  margin-bottom: 30px;
}

.meditation-length {
  color: rgba(252, 245, 235, 0.796);
  padding-bottom: 50px;
}

.timer-countdown {
  color: rgba(252, 245, 235, 0.652);
  position: relative;
  font-weight: 200;
  font-size: 12px;
  padding-top: 50px;
}