// modal stuff

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(245, 139, 68);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x i{
  position: absolute;
  z-index: 2;
  color: rgb(252, 245, 235);
  padding: 15px;
  border-radius: 150px;
  font-size: 24px;
  line-height: 24px;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

// modal buttons

.fa-stack-meditation-item .fa-circle {
  position: relative;
  font-size: 100px;
  color: rgb(252, 245, 235);
}

.fa-play {
  padding-top: 40px;
  padding-left: 3px;
  font-size: 35px;
  color: rgb(90, 97, 117);
}

//text 

.meditation-item {
  // border: 1px solid black;
  color: rgb(252, 245, 235);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.fa-stack-meditation-item {
  // border: 1px solid blue;
}

.meditation-name-title {
  margin-bottom: 30px;
  // border: 1px solid purple;
}

.meditation-length {
  padding-bottom: 50px;
  // border: 1px solid yellow;
}

.timer-countdown {
  // border: 1px solid white;
  position: relative;
  font-weight: 200;
  font-size: 12px;
  padding-top: 50px;
}