// modal stuff

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(245, 139, 68);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x i{
  position: absolute;
  z-index: 2;
  color: rgb(252, 245, 235);
  padding: 15px;
  border-radius: 150px;
  font-size: 24px;
  line-height: 24px;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

// modal buttons

.transparent-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: scale 3s ease-in-out infinite alternate;
}

@keyframes scale {
  from { transform: none;}
  to { transform: scale(1.1, 1.1)}
}

.opaque-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
  background: white;
  border-radius: 50%;
}

.fa-pause, .fa-play {
  font-size: 35px;
  color: #5A6175;
}

.fa-play {
  margin-left: 5px;
}

//text 

.meditation-play {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}


.meditation-name-title {
  color: rgb(252, 245, 235);
  margin-bottom: 30px;
}

.meditation-length {
  color: rgba(252, 245, 235, 0.796);
  padding-bottom: 50px;
}

.timer-countdown {
  color: rgba(252, 245, 235, 0.652);
  position: relative;
  font-weight: 200;
  font-size: 12px;
  padding-top: 50px;
}