// Profile & Discover Header

.profile-header {
  background-color: #FAF6F4;
  padding: 7px;
  border-top: 1.5px solid #EBE8E4;
}

.profile-header-options {
  display: flex;
  font-size: 14px;
  color: rgb(201, 198, 198);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  justify-content: space-evenly;
}

.stats-header:hover,
.lists-header:hover,
.settings-header:hover,
.journey-header:hover,
.discover-header:hover,
.timers-header:hover {
  color: #4B5161;
  -webkit-transition: all .2s ease-in-out;
}

