.timers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.timer-box {
  border: 2px solid white;
  color: #5A6175;
  background-color: #FAF6F4;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px 20px 20px 20px;
  -webkit-transition: all .2s ease-in-out;
}

.times-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.timer-box:hover {
  background-color: white;
  border: 2px solid #FAF6F4;
  -webkit-transition: all .2s ease-in-out;
}

.timer-header {
  color: #5A6175;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding: 30px;
}

.timer-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  border: 2px solid #FAF6F4;
  padding: 10px;
  margin: 5px;
  margin-top: 15px;
  border-radius: 5px;
}

.timer-btn:hover {
  -webkit-transition: all .2s ease-in-out;
  background-color: #FAF6F4;
  border: 2px solid white;
}

.count-down-header {
  font-size: 30px;
  font-weight: 700;
}